.nina{
	padding-left: 800px;
	color:#4D3604;
}
.nina1{
	padding-left: 480px;
}
body{
	background-color:#F094CD ;
}
.nina2{
	padding-left: 840px;
	padding-top:200px ;
	color:#E267F3 ;
}
.nina3{
	padding-left: 825px;
	color: #4D3604;
}